body{
    background-color: black;
    color: white;
    height: 100%;
}
.container{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    display: flex;
    align-items: center;
    width: auto;
    min-width: 70vh;
    margin: auto;
    border-style: solid;
    border-color: white;
    min-height: 9rem;
}

#Player{
    margin-left: auto;
}
.grid{
    display: block;
    justify-content: center;
    align-items: center;
}
.row{
    min-height: 3rem;
    border-style: solid;
    border-color: white;
}
.col-lg-6{
    display: flex;
    align-items: center;
}
.fa-regular {
    color: white;
  }
button{
    background-color: transparent;
    border: none;
}

.Button-Image{
    max-width: 25px;
    max-height: 25px;
}

.Display-Image{
    max-width: 55px;
    max-height: 55px;
}
